# Banco de dados
DATABASE_URL="mysql://user:password@localhost:5432/hackathon_cww"
# .env.development
NODE_ENV=development # production

DATABASE_URL_DEV="mysql://user:password@localhost:5432/hackathon_cww"
JWT_SECRET_DEVELOPMENT=seusupersegredo
IMGBB_API_KEY=suachavedoimgbbfree

# .env.prod
# NODE_ENV=production
DATABASE_URL_PROD="mysql://user:password@localhost:5432/hackathon_cww"
JWT_SECRET=seusupersegredo


